* {
    margin: 0px;
    padding: 0px;
}

header section main footer {
    display: block;
}

#head {
    background-color:  skyblue;
}
.nav {
    padding-top: 3%;
}
.nnv {
    padding-top: 7%;
}
h1 {
    text-align: center;
    padding: 2%;
    color: blue;
    text-shadow: 1px 1px 1px brown;
}
.fnt {
    text-align: center;
}
.tt {
    text-align: center;
    color: blue;
    
}
.ty {
    text-align: center;
}
.dd {
    text-align: justify;
    text-indent: 10%;
    padding-top: 2%;
}
#foot {
    background-color: skyblue;
}
.ft3 {
    padding-top: 3%;
    padding-bottom: 3%;
    text-shadow: 1px 1px brown;
}
#foot2 {
    background-color: gray;
}
.fft {
    text-align: center;
    color: white;
    padding-top: 1%;
<<<<<<< HEAD
=======
}
.text-justify{
    text-align: justify;
>>>>>>> 34f63f45903373b0298f986fc3b0d4c590a2b99a
}