* {
    margin: 0px;
    padding: 0px;
}

header section main footer {
    display: block;
}

#head {
    background-color:  skyblue;
}
.nav {
    padding-top: 3%;
}
.nnv {
    padding-top: 7%;
}
h1 {
    text-align: center;
    padding: 2%;
    color: blue;
    text-shadow: 1px 1px 1px brown;
}
.fnt {
    text-align: center;
}
.tt {
    text-align: center;
    color: blue;
    
}
.ty {
    text-align: center;
}
.dd {
    text-align: justify;
    text-indent: 10%;
    padding-top: 2%;
}
#foot {
    background-color: skyblue;
}
.ft3 {
    padding-top: 3%;
    padding-bottom: 3%;
    text-shadow: 1px 1px brown;
}
#foot2 {
    background-color: gray;
}
.fft {
    text-align: center;
    color: white;
    padding-top: 1%;
}
.text-justify{
    text-align: justify;
}

/*регистрация*/
.gradient-custom-3 {
    /* fallback for old browsers */
    background: #84fab0;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
    }
    .gradient-custom-4 {
    /* fallback for old browsers */
    background: #84fab0;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
    }



